In [34]:
import requests
import time
import datetime
from datetime import datetime as dt
import sys
import pandas as pd
import sys

In [2]:
start = time.time()

In [3]:
cse = "http://203.253.128.161:7579/Mobius/"
ae = 'ubicomp_lora/'
option = '?rcn=4&cra=20200412&crb=20200423'

In [4]:
payload = {}
headers = {
  'Accept': 'application/json',
  'X-M2M-RI': '12345',
  'X-M2M-Origin': 'SOrigin'
}

In [28]:
data = []

df = pd.DataFrame(columns=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13])
all_df = pd.DataFrame(columns=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13])

In [29]:
cra = '20200427' + 'T150000'
crb = '20200505' + 'T150000'

In [37]:
# k -> for
k = 1
cnt = str(k)
url = cse+ae+cnt+ '?rcn=4&cra=%s&crb=%s' %(cra, crb)
r = requests.get(url, headers=headers, data=payload)

con_df = df.DataFrame()
if r.status_code != 200:
    sys.exit(0)

cin = r.json()['m2m:rsp']['m2m:cin']
cin_df = pd.DataFrame(cin)

In [43]:
cin_df = pd.DataFrame(cin)
cin_df

,pi,ri,ty,ct,st,rn,lt,et,cs,cr,con
0,3-20200224124052967,4-20200505125838383,4,20200505T005838,2738,4-20200505125838383,20200505T005838,20220505T005838,68,Subicomp_lora,"1,304,20,2020/05/05,10:00:47,36.7707,126.9294,..."
1,3-20200224124052967,4-20200505125837459,4,20200505T125837,2762,4-20200505125837458,20200505T125837,20220505T125837,68,Subicomp_lora,"1,328,44,2020/05/05,22:00:47,36.7707,126.9294,..."
2,3-20200224124052967,4-20200505122838426,4,20200505T002838,2737,4-20200505122838426,20200505T002838,20220505T002838,68,Subicomp_lora,"1,303,19,2020/05/05,09:30:47,36.7707,126.9294,..."
3,3-20200224124052967,4-20200505122837488,4,20200505T122837,2761,4-20200505122837488,20200505T122837,20220505T122837,68,Subicomp_lora,"1,327,43,2020/05/05,21:30:47,36.7707,126.9294,..."
4,3-20200224124052967,4-20200505115837533,4,20200505T115837,2760,4-20200505115837532,20200505T115837,20220505T115837,68,Subicomp_lora,"1,326,42,2020/05/05,21:00:47,36.7707,126.9294,..."
...,...,...,...,...,...,...,...,...,...,...,...
367,3-20200224124052967,4-20200427052858187,4,20200427T172858,2399,4-20200427052858186,20200427T172858,20220427T172858,64,Subicomp_lora,"1,13,5,2020/04/28,02:31:04,36.7707,126.9294,37..."
368,3-20200224124052967,4-20200427045858215,4,20200427T165858,2398,4-20200427045858214,20200427T165858,20220427T165858,64,Subicomp_lora,"1,12,4,2020/04/28,02:01:04,36.7707,126.9294,37..."
369,3-20200224124052967,4-20200427042858235,4,20200427T162858,2397,4-20200427042858235,20200427T162858,20220427T162858,65,Subicomp_lora,"1,11,3,2020/04/28,01:31:04,36.7707,126.9294,37..."
370,3-20200224124052967,4-20200427035858267,4,20200427T155858,2396,4-20200427035858266,20200427T155858,20220427T155858,65,Subicomp_lora,"1,10,2,2020/04/28,01:01:04,36.7707,126.9294,37..."
371,3-20200224124052967,4-20200427032858296,4,20200427T152858,2395,4-20200427032858295,20200427T152858,20220427T152858,64,Subicomp_lora,"1,9,1,2020/04/28,00:31:04,36.7707,126.9294,37,..."

In [46]:
cin_df['con']

0      1,304,20,2020/05/05,10:00:47,36.7707,126.9294,...
1      1,328,44,2020/05/05,22:00:47,36.7707,126.9294,...
2      1,303,19,2020/05/05,09:30:47,36.7707,126.9294,...
3      1,327,43,2020/05/05,21:30:47,36.7707,126.9294,...
4      1,326,42,2020/05/05,21:00:47,36.7707,126.9294,...
                             ...
367    1,13,5,2020/04/28,02:31:04,36.7707,126.9294,37...
368    1,12,4,2020/04/28,02:01:04,36.7707,126.9294,37...
369    1,11,3,2020/04/28,01:31:04,36.7707,126.9294,37...
370    1,10,2,2020/04/28,01:01:04,36.7707,126.9294,37...
371    1,9,1,2020/04/28,00:31:04,36.7707,126.9294,37,...
Name: con, Length: 372, dtype: object

In [62]:
test = cin_df['con'][0][:-1]

In [68]:
test[9:13], test[14:16], test[17:19], test[20:22]

('2020', '05', '05', '10', '00')

In [ ]:
test

In [ ]:
`

In [36]:
for k in range(1, 17):
    if(k == 4): 
        continue
    #k = 1
    cnt = str(k)
    url = cse+ae+cnt+ '?rcn=4&cra=%s&crb=%s' %(cra, crb)
    r = requests.get(url, headers=headers, data=payload)

    if r.status_code == 200:
        cin = r.json()['m2m:rsp']['m2m:cin']

        idx = 0
        for instance in cin:
            con = pd.Series(instance['con'].replace('\r', '').split(','))
            time_str = con[3] + ' ' + con[4]

            con_time = time.strptime(time_str, '%Y/%m/%d %H:%M:%S')
            con[13] = time.mktime(con_time)

            df.loc[idx] = con
            idx += 1
        df = df.sort_values(by=13)

    all_df = pd.concat([all_df, df])

AttributeError: 'datetime.datetime' object has no attribute 'total_seconds'

In [33]:
all_df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
8,4,1,0,2020/04/28,00:00:19,36.7691,126.9280,55,,,,20.00,3.5,1.588000e+09
9,4,2,1,2020/04/28,00:30:19,36.7691,126.9280,55,,,,20.00,3.5,1.588001e+09
7,4,3,2,2020/04/28,01:00:19,36.7691,126.9280,55,,,,20.00,3.5,1.588003e+09
6,4,4,3,2020/04/28,01:30:19,36.7691,126.9280,55,,,,20.00,3.5,1.588005e+09
5,4,5,4,2020/04/28,02:00:19,36.7691,126.9280,55,,,,20.00,3.5,1.588007e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1,16,372,44,2020/05/05,22:01:01,36.7691,126.9280,55,22,39,45,10.00,3.5,1.588684e+09
29,16,373,45,2020/05/05,22:31:01,36.7691,126.9280,55,26,51,60,9.68,3.5,1.588685e+09
27,16,374,46,2020/05/05,23:01:01,36.7691,126.9280,55,27,51,64,9.68,3.5,1.588687e+09
25,16,375,47,2020/05/05,23:31:01,36.7691,126.9280,55,23,44,52,9.35,3.5,1.588689e+09
23,16,376,0,2020/05/06,00:01:01,36.7691,126.9280,55,29,56,71,9.35,3.5,1.588691e+09

In [23]:
from datetime import datetime as dt
cra_d = dt.strptime(cra[0:8], '%Y%m%d')
crb_d = dt.strptime(crb[0:8], '%Y%m%d')

In [27]:
d_dif = crb_d - cra_d
dif_min = d_dif.total_seconds() // 60
dif_min

11520.0

In [6]:
data = []
df = pd.DataFrame(columns=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13])
all_df = pd.DataFrame(columns=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13])